.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body{
    background-color: rgb(32, 31, 31);
     color: white;
}
.wrapper{
    display: flex;
    flex-direction: column;
    margin: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40vw;
    height: 70vh;
    background-color: grey;
    border: 20px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 49px white;
}    
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}