*{
    margin: 0;
    padding: 0;
}
.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 40px;
}
li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    border: 2px solid black;
    padding: 6px;
    border-radius: 9px;
    
}
.button{
    background-color: aqua;
    width: 200px;
    height: 20px;
    margin: 20px;
}
.pop:hover{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: bold;
}